@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
:root {
    --body-bg:#f6f6f6;
    --body-font:#2b3445;
    --blue:#9fc5ef;
    --icons:#40464d;
    --blue-button:#1976d2;
    --footer-bg:#212529;
    --red-button:#e41d43;
   
}

* {
    margin: 0;
    padding: 0;

}
html {
    font-family: system-ui, -apple-system, "Roboto", sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;


}
main {
    width: 80%;
    margin-inline: auto;
}
@media (max-width:600px) {
    main {
        width: 100%;
        margin-inline: auto;
    }
}
.flex {
    display: flex;
    align-items: center;
}
.border {
    border: 3px solid red;
}

a, button {
    all: unset;
    display: inline-block;
    transform: all 0.3s;
}
button:active,
a:active {
    scale: 0.9;
}
button:hover,
a:hover {
    cursor: pointer;
}
button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
    scale: 1;

}


ul li {
    text-decoration: none;
}
.fa-solid {
    color:var(--icons,#40464d) ;
}