body {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
   
}

header.flex  {
    background-color: var(--footer-bg);
    color: #fff;
    padding-block: 0.6rem;
&  .fa-solid {
    color: #fff;
}  
&  .logo .fa-solid {
    font-size: 1.5rem;
}  

&   .sign-in:hover,
&   .register:hover {
    border: 1px solid rgb(152, 154, 189);
    padding: 0.5rem 1.1rem;

} 

&   .cart:hover {
    border: 1px solid rgb(152, 154, 189);
    padding: 0.5rem 1.1rem 0.5rem 0.7rem;
}
&   .logo:hover {
    scale: 0.95;
}
}
main {
    text-align: center;
}
.cart .product > img {
    width: 70px;
    height: 70px;
    border-radius: 0.22rem;
}
section.cart article.flex {
    background-color: #fff;
    border-top: 2px solid var(--blue-button);
    margin-top: 1.8rem;
    justify-content: space-between;
    max-width: 450px;
    margin-inline: auto;
    border-radius: 5px;
    font-weight: 500;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
&     .fa-trash-can{
    color: var(--red-button);
    margin-left: 1rem;

    }
&   button.decrease {
    color: var(--blue-button);
    font-size: 1.9rem;

}    

&   .quantity {
    background-color: var(--blue-button);
    height: 21px;
    width: 21px;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    margin-inline: 0.4rem;
    font-size: 0.8rem;
}
&   button.increase{
    color: var(--blue-button);
    font-size: 1.9rem;
}

}
.clear {
    background-color: var(--red-button);
    color: #fff;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 6px 8px;
    font-size: 0.8rem;
&   .fa-trash-can {
    color: #fff;
    margin-right: 0.4rem;

}    
  
}

section.summary {
    background-color: #fff;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    width: 233px;
    margin-inline: auto;
    margin-top: 2.5rem;
    border-radius: 5px;

&   h1 {
    font-size: 1.2rem;
    padding-block: 0.5rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.12);

}
&   div.flex {
    justify-content: space-between;
    padding-inline: 0.5rem;
    margin-block: 0.5rem;

}
&   button.checkout {
    background-color: var(--blue-button);
    color: #fff;
    border-radius: 5px;
    padding-block: 0.5rem;
    font-size: 0.9rem;
    font-weight: 500;
    width: 100%;

}
&   a{
    padding-block: 0.5rem;
    color: var(--red-button);
    font-size: 0.9rem;
}
}
